
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in & Sign up Form</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"/>
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="http://localhost:8000/auth/" autocomplete="off" class="sign-in-form">
              <div class="logo">
                <img src="{% static './img/icon.jpeg' %}" alt="easyclass"/>
                <h2>KinderNeutron</h2>
              </div>

              <div class="heading">
                <h2>Welcome Back!</h2>
                
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="username"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>
                {% if request.GET.show_div %}
                <div style="color: red;">Wrong Username or Password</div>
                {% endif %}
                <input type="submit" value="Sign In" class="sign-btn" />

                <p class="text" style="font-size: 15px;">
                  New To Kinderneuton?
                 
                </p>
                <a href="/#" class="toggle"><button  id="regbtn" onclick="event.preventDefault();">Register</button></a>
              </div>
            </form>

            <form action="http://127.0.0.1:8000/login/" autocomplete="off" class="sign-up-form" id="signupForm">
              <div class="logo">
                <img src="{% static './img/icon.jpeg' %}" alt="easyclass" />
                <h2>KinderNeutron</h2>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    name="regusername"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Name</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="email"
                    name="email"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>
                <div class="input-wrap">
                  <input
                    type="text"
                    name="authtoken"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Auth Token</label>
                </div>

                <div class="input-wrap">
                  <input
                    type="password"
                    name="regpassword"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input type="submit" value="Sign Up" class="sign-btn" onclick="handleSignUp(event)" />
                <script>
                  function handleSignUp(event) {
                      // Prevent the default form submission
                      event.preventDefault();
                      
                      // Show the alert message
                      alert('Registration Successful, Please Login Again');
                      
                      // Proceed with the form submission
                      document.getElementById('signupForm').submit();
                  }
              </script>

                <p class="text">
                  By signing up, I agree to the
                  <a href="#">Terms of Services</a> and
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
            </form>
          </div>

          <div class="carousel">
            <div class="images-wrapper">
              <img src="{% static './img/image1.jpg' %}" class="image img-1 show" alt="" style="height:125%;"/>
              <img src="{% static './img/image2.jpg' %}" class="image img-2" alt="" style="height:125%;"/>
              <img src="{% static './img/icon.jpeg' %}" class="image img-3" alt="" style="height:125%;"/>
            </div>

            <div class="text-slider">
              <div class="text-wrap">
                
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Javascript file -->

    <script src="{% static 'app.js' %}"></script>
  </body>
</html>
